# Node modules
node_modules/

# Environment variables
.env

# Uploads (foto balita, profil, dsb)
uploads/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
logs/
*.log

# System files
.DS_Store
Thumbs.db
